.food{
    min-width: 320px;
    margin: 0 0 40px;
    text-align: left;
    &__wrapper{
        display: block;
        position: relative;
        &:hover{
            @include foodColor($colorFoodBorderHover);
        }
    }
    &__top{
        height: 46px;
        background: $colorFoodBg;
        margin-left: 46px;
        border-right: 4px solid $colorFoodBorder;
        border-top: 4px solid $colorFoodBorder;
        box-sizing: border-box;
        position: relative;
        border-radius: 0 12px 0 0;

        /*&:before{
            content: '';
            width: 65px;
            height: 65px;
            border-left: 4px solid #1698d9;
            background: #f2f2f2;
            position: absolute;
            left: 0;
            transform: rotate(45deg);
            top: -4px;
            box-sizing: border-box;
            transform-origin: 0 0;
        }*/

        &:before{
            content: '';
            width: 0;
            height: 0;
            border: 23px solid transparent;
            border-right: 23px solid $colorFoodBorder;
            border-bottom: 23px solid $colorFoodBorder;
            position: absolute;
            top: -4px;
            left: -46px;
        }

        &:after{
            content: '';
            width: 0;
            height: 0;
            border: 21px solid transparent;
            border-right: 21px solid $colorFoodBg;
            border-bottom: 21px solid $colorFoodBg;
            position: absolute;
            top: 0;
            left: -42px;
        }


    }
    &__in{
        min-height: 437px;
        border: 4px solid $colorFoodBorder;
        border-top: none;
        border-radius: 0 0 12px 12px;
        background: $colorFoodBg;
        position: relative;
    }
    &__cat{
        width: 266px;
        height: 269px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: url("food-in-bg.png") no-repeat 0 100%;
    }
    &__content{
        position: relative;
        top: -46px;
        padding: 20px 10px 0 46px;
    }
    &__desc{
        font: 400 16px $fontTrebuchetMS;
        color: $colorFoodDesc;
        &_selected{
            display: none;
            color: $colorFoodDescSelected;
        }
    }
    &__name {
        font: 700 48px $fontTrebuchetMS;
        color: $colorFoodName;
    }
    &__consist{
        font: 700 24px $fontTrebuchetMS;
        color: $colorFoodConsist;
        margin-bottom: 10px;
    }
    &__size{
        font: 400 14px/16px $fontTrebuchetMS;
        color: $colorFoodSize;
    }
    &__mass{
        position: absolute;
        width: 81px;
        height: 81px;
        border-radius: 100%;
        background: $colorFoodMass;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 15px;
        right: 15px;
        font: 400 21px $fontTrebuchetMS;
        &-number{
            font: 400 42px/1 $fontTrebuchetMS;
        }
    }

    &__call,
    &__desc-more_selected,
    &__desc-more_disabled{
        color: $colorFoodCall;
        font: 400 13px/16px $fontTrebuchetMS;
        text-align: center;
        margin-top: 14px;
    }

    &__desc-more_selected,
    &__desc-more_disabled{
        display: none;
    }

    &__desc-more_disabled{
        color: $colorFoodDescDisabledOutside;
    }
    &__action{
        color: $colorFoodAction;
        border-bottom: 1px dashed $colorFoodAction;
        cursor: pointer;
        &:hover{
            border-bottom: none;
        }
    }

    &__control:checked + .food__wrapper{

        @include foodColor($colorFoodBorderSelected);

        .food__desc-more_selected{
            display: block;

        }
        .food__call{
            display: none;
        }

        .food__desc{
            display: none;
            &_selected{
                display: block;
            }
        }

    }

    &__control:checked + .food__wrapper:hover{
        .food__desc{
            display: block;
            &_selected{
                display: none;
            }
        }
    }

    &__control:disabled + .food__wrapper{
        @include foodColor($colorFoodBorderSelected);
    }

    &__control:disabled + .food__wrapper{
        @include foodColor($colorFoodBorderDisabled);

        .food__desc{
            color: $colorFoodDescDisabled;
        }
        .food__name {
            color: $colorFoodNameDisabled;
        }
        .food__consist{
            color: $colorFoodConsistDisabled;
        }
        .food__size{
            color: $colorFoodSizeDisabled;
        }
        .food__cat{
            opacity: 0.5;
        }

        .food__call{
            display: none;
        }

        .food__desc-more_disabled {
            display: block;
        }
    }
}